@import "tailwindcss";


@theme {
  --color-primary: #FACC15;       /* Bright yellow */
  --color-secondary: #fef08a1a;   /* Light yellow with transparency */
  --color-foreground: #ffffff;    /* White text */
  --color-background: #000000;    /* Black background */
  --color-muted: #9ca3af;         /* Light gray text */
  --spacing-unit: 1rem;           /* Default spacing unit */
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
